@import '@common/css/mixins.scss';

.table {
  width: 100%;
  border-spacing: 0;
  text-align: left;
  tr {
    height: 50px;
    th,
    td {
      min-width: 140px;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #838383;
      border-bottom: 1px solid #252525;
      background: rgba(20, 159, 57, 0.06);
      @include media(767) {
        padding: 0;
        font-size: 13px;
      }
      &.table__untouchable {
        background: rgba(159, 20, 20, 0.06);
      }
    }
    th {
      background: transparent;
      color: #5d5d5d;
    }
  }
}

.wrapper {
  max-width: 100%;
  overflow-x: auto;
}
.error {
  text-align: center;
  font-weight: 500;
}
